@page
@model LaundryMidlePlatform.Pages.Register.IndexModel
@{
}

<style>
    label {
        font-weight: 600;
        color: #666;
    }

    body {
        background: #f1f1f1;
    }

    .box8 {
        box-shadow: 0px 0px 5px 1px #999;
    }

    .mx-t3 {
        margin-top: -3rem;
    }
</style>

<h1 class="display-4 text-center" style="margin-bottom: 50px">Register</h1>

<body>

    <div class="container mt-3">
        <form method="post">
            <div class="row jumbotron box8">

                <div class="col-sm-6 form-group" style="margin-top: 20px">
                    <label asp-for="User.FirstName">First Name:</label>
                    <input asp-for="User.FirstName" class="form-control" placeholder="First Name" required>
                    <span asp-validation-for="User.FirstName" class="text-danger"></span>
                </div>
                <div class="col-sm-6 form-group" style="margin-top: 20px">
                    <label asp-for="User.LastName">Last Name:</label>
                    <input asp-for="User.LastName" class="form-control" placeholder="Last Name" required>
                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                </div>
                <div class="col-sm-6 form-group">
                    <label asp-for="User.Email" for="email">Email:</label>
                    <input asp-for="User.Email" type="email" class="form-control" placeholder="Email" required>
                    <span asp-validation-for="User.Email" class="text-danger">@Model.Error</span>
                </div>
                <div class="col-sm-6 form-group">
                    <label asp-for="User.Phone">Phone:</label>
                    <input asp-for="User.Phone" type="number" class="form-control" placeholder="Phone" required>
                    <span asp-validation-for="User.Phone" class="text-danger"></span>
                </div>

                <div class="col-sm-6 form-group">
                    <label asp-for="User.Address">Address:</label>
                    <input asp-for="User.Address" class="form-control" placeholder="Address" required>
                    <span asp-validation-for="User.Address" class="text-danger"></span>
                </div>
                <div class="col-sm-6 form-group">
                    <label asp-for="User.RoleId" class="control-label">Role</label>
                    <select asp-for="User.RoleId" class="form-control" asp-items="ViewBag.RoleId" required></select>
                </div>
                <div class="col-sm-6 form-group">


                    <label asp-for="User.Gender">Gender</label>
                    <select asp-for="User.Gender" class="form-control browser-default custom-select">
                        <option value="true">Male</option>
                        <option value="false">Female</option>

                    </select>
                </div>
                <div class="col-sm-2 form-group">
                    <label asp-for="User.DateOfBirth" class="control-label"></label>
                    <input asp-for="User.DateOfBirth" class="form-control" required />
                    <span asp-validation-for="User.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="col-sm-4 form-group">
                    <label asp-for="User.Password">Password:</label>
                    <input asp-for="User.Password" type="password" class="form-control" placeholder="Password" required>
                    <span asp-validation-for="User.Password" class="text-danger"></span>
                </div>
                <div class="col-sm-12">
                    <input type="checkbox" class="form-check d-inline" id="chb" required><label for="chb" class="form-check-label">
                        &nbsp;I accept all terms and conditions.
                    </label>
                </div>

                <div class="col-sm-12 form-group mb-0 d-flex flex-row-reverse">
                    <button class="btn btn-primary " style="margin-bottom: 20px" type="submit">Register</button>
                </div>

            </div>
        </form>
    </div>
    <p class="text-center" style="margin-top: 10px">You have an account? <a asp-page="/Index">Login</a></p>
    </div>
    </div>
</body>
