@page
@using BusinessObjects.Models;
@using LaundryMidlePlatform.Pages.SessionHelpers;
@model LaundryMidlePlatform.Pages.CustomerHomePage.OrderPage.CustomerMakeOrderDetailModel
@{
}
@{
    ViewData["Title"] = "Customer";
    var customer = SessionHelper.GetObjectFromJson<User>(HttpContext.Session, "customer");

    if (customer == null )
    {
        Layout = "Shared/_AdminError";
        return;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Example.cshtml</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .text-center {
            text-align: center;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body class="text-center">
    <div class="center">
        <form method="post" style="text-align: center;">
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-md-6 col-form-label text-md-right" asp-for="Shirts">SHIRTS:</label>
                    <div class="col-md-6">
                        <input asp-for="Shirts" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 col-form-label text-md-right" asp-for="Pants">PANTS:</label>
                    <div class="col-md-6">
                        <input asp-for="Pants" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 col-form-label text-md-right" asp-for="Other_Accessories">OTHER ACCESSORIES:</label>
                    <div class="col-md-6">
                        <input asp-for="Other_Accessories" class="form-control" />
                    </div>
                </div>
                <input type="hidden" asp-for="storeId" />
                <input type="hidden" asp-for="Email" />
            </div>
            <button type="submit" class="btn btn-primary mx-auto" style="text-align: center;">Submit</button>
        </form>
    </div>

    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <p class="text-center" style="margin: 12px 0;">
            <span style="color:red;">Error: @Model.Error</span>
        </p>
    }
    @if (!string.IsNullOrEmpty(Model.Success))
    {
        <p class="text-center" style="margin: 12px 0;">
            <span style="color:green;"> @Model.Success</span>
        </p>
    }
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
