@page
@model LaundryMidlePlatform.Pages.CustomerHomePage.OrderPage.CustomerMakeOrderDetailModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <title>Example.cshtml</title>
    @* <script>
        function showConfirm() {
            var shirts = document.getelementbyid("shirts").value || "n/a";
            var pants = document.getelementbyid("pants").value || "n/a";
            var otheraccessories = document.getelementbyid("other_accessories").value || "n/a";
            var confirmationmessage = "confirm: \nshirts: " + shirts + "\npants: " + pants + "\nother accessories: " + otheraccessories;
            var result = confirm(confirmationmessage);

            // if (result) {
            //     window.location.href = "https://localhost:7176/CustomerHomePage/OrderPage/OrderTimeLine";
            // }
            return result;
        }
    </script> *@
</head>
<body>
    <form method="post">
        <div class="card-body" >
            <div class="form-group">
                <label class="col-md-6" asp-for="Shirts">SHIRTS:</label>
                <div class="">
                    <input asp-for="Shirts" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6" asp-for="Pants">PANTS:</label>
                <div class="">
                    <input asp-for="Pants" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6" asp-for="Other_Accessories">OTHER ACCESSORIES:</label>
                <div class="">
                    <input asp-for="Other_Accessories" class="form-control" />
                </div>
            </div>
             <input type="hidden" asp-for="storeId" />
            <input type="hidden" asp-for="Email" />
        </div>
        <button type="submit">Submit</button>
    </form>
    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <p class="text-center" style="margin: 12px 0;">
            <span style="color:red;">Error: @Model.Error</span>
        </p>
    }
    @if (!string.IsNullOrEmpty(Model.Success))
    {
        <p class="text-center" style="margin: 12px 0;">
            <span style="color:green;"> @Model.Success</span>
        </p>
    }

</body>
</html>
