@page
@using BusinessObjects.Models;
@using LaundryMidlePlatform.Pages.SessionHelpers;
@model LaundryMidlePlatform.Pages.CustomerHomePage.OrderPage.OrderTimeLineModel
@{
}
@{
    ViewData["Title"] = "Customer";
    var customer = SessionHelper.GetObjectFromJson<User>(HttpContext.Session, "customer");

    if (customer == null )
    {
        Layout = "Shared/_AdminError";
        return;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Timeline</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .text-center {
            text-align: center;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .label-div-inline {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }
    </style>
</head>
<body class="text-center">
    <div class="center">
        <form method="post" style="text-align: center;">
            <div class="card-body">
                <div class="form-group row label-div-inline">
                    <label class="col-md-6 col-form-label text-md-right" asp-for="CustomerName">Customer Name:</label>
                    <div class="col-md-6">
                        <input asp-for="CustomerName" class="form-control" />
                    </div>
                </div>
                <div class="form-group row label-div-inline">
                    <label class="col-md-6 col-form-label text-md-right" asp-for="OrderID">Order ID:</label>
                    <div class="col-md-6">
                        <input asp-for="OrderID" class="form-control" />
                    </div>
                </div>
                <div class="form-group row label-div-inline">
                    <label class="col-md-6 col-form-label text-md-right" asp-for="OrderPrice">Order Price:</label>
                    <div class="col-md-6">
                        <input asp-for="OrderPrice" class="form-control" />
                    </div>
                </div>
                <div class="form-group row label-div-inline">
                    <label class="col-md-6 col-form-label text-md-right" asp-for="StartTime">Start Time:</label>
                    <div class="col-md-6">
                        <input asp-for="StartTime" class="form-control" />
                    </div>
                </div>
                <div class="form-group row label-div-inline">
                    <label class="col-md-6 col-form-label text-md-right" asp-for="EndTime">End Time:</label>
                    <div class="col-md-6">
                        <input asp-for="EndTime" class="form-control" />
                    </div>
                </div>
            </div>

            <!-- Các trường dữ liệu khác -->
            <input type="hidden" name="OrderInvoice" value="@ViewData["OrderInvoiceJson"]" />
            <button name="submit" value="Order" type="submit" style="text-align: center;" class="btn btn-primary mx-auto">Order</button>
            <button name="submit" value="Cancel" type="submit" style="text-align: center;" class="btn btn-secondary mx-auto">Cancel</button>
        </form>
    </div>
</body>
</html>
