@page
@model LaundryMidlePlatform.Pages.CustomerHomePage.viewOrderHistoryCustomerModel
@{
}
<h2>View Order Transactions</h2>
<div class="text-center" style="margin-top: 15px;">
    <a asp-page="/CustomerHomePage/CustomerHomePage" asp-route-email="@Model.Email" style="font-size: 16px;">Back to Customer Home Page</a>
</div>
