@page
@model LaundryMidlePlatform.Pages.Stores.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "Shared/_AdminLayout";

}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<style>
    h1 {
        font-family: "Your Font Name", sans-serif; /* Thay "Your Font Name" bằng tên phông chữ bạn muốn sử dụng */
        font-size: 36px; /* Điều chỉnh kích thước theo ý muốn của bạn */
        color: #333; /* Điều chỉnh màu sắc theo ý muốn của bạn */
    }

    h4 {
        font-family: "Your Font Name", sans-serif; /* Thay "Your Font Name" bằng tên phông chữ bạn muốn sử dụng */
        font-size: 24px; /* Điều chỉnh kích thước theo ý muốn của bạn */
        color: #666; /* Điều chỉnh màu sắc theo ý muốn của bạn */
    }
</style>
<h1>Create</h1>

<h4>Store</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Store.StoreName" class="control-label"></label>
                        <input asp-for="Store.StoreName" class="form-control" />
                        <span asp-validation-for="Store.StoreName" class="text-danger"></span>
                    </div>
                </div>
                @* <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Store.Price" class="control-label"></label>
                        <input asp-for="Store.Price" class="form-control" />
                        <span asp-validation-for="Store.Price" class="text-danger"></span>
                    </div>
                </div> *@
                <style>
                    .dollar-icon i {
                        font-size: 20px; /* Điều chỉnh kích thước biểu tượng theo ý muốn của bạn */
                        line-height: 30px;
                    }

                </style>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Store.Price" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text dollar-icon"><i class="fas fa-dollar-sign"></i></span>
                                </div>
                                <input asp-for="Store.Price" class="form-control" />
                            </div>
                            <span asp-validation-for="Store.Price" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Store.Address" class="control-label"></label>
                        <input asp-for="Store.Address" class="form-control" />
                        <span asp-validation-for="Store.Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Store.Phone" class="control-label"></label>
                        <input asp-for="Store.Phone" class="form-control" />
                        <span asp-validation-for="Store.Phone" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Store.Status" class="control-label"></label>
                        <input asp-for="Store.Status" class="form-control" />
                        <span asp-validation-for="Store.Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Store.Status" class="control-label"></label>
                        <select asp-for="Store.Status" class="form-control">
                            <option value="True">Đang hoạt động</option>
                            <option value="False">Dịch vụ hỏng</option>
                        </select>
                        <span asp-validation-for="Store.Status" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="ViewAllStore">Quay lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
